<div id="<%= dom_id classification %>">
  <p>
    <strong>Name:</strong>
    <%= classification.Name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= classification.Description %>
  </p>

</div>
